---
import { dbClient } from '@/lib/db';

const db = await dbClient();
const products = db.collection('products');

const { id } = Astro.params;
const product = await products.findOne({ id: parseInt(id) });
---
<div>Title {product.title}</div>